.product{
    padding: 50px !important;
    width: 100dvw;
    background-color: #fff8ec;
   
}
.product.row {
     --bs-gutter-x: 0rem;
    }
.product-card{
    /* border: solid 2px white; */
    padding:10px ;
    min-width:  306px;
    max-width: 450px;
    padding: 25px 10px;
    /* background-color: #d3b684; */
    background-color: #f5e9d4;
    border-radius: 5px;
}
.product .title-sectionone{
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: .02em;
    position: relative;
    font-family: Lato,sans-serif;
}
.product .title-sectionone::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 80px;
    background-color: #b48b1a;
    border-radius: 10px;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    }
.product-card img{
    width: 100%;
    height: 100%;
  
}
.product-img{
      width: 200px;
      height: 200px;
}
.whatsapp-details{
    /* background-color: black; */
    background-color: #dbbf8d;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 4px;
    font-weight: 700;
}