:root{
    /* --main-color:#dbbf8d */
    --main-color:white
}

/* banner */
.banner{
    background-image:url(./img/banner.png) ;
    height: 90dvh;
    width: 100dvw;
    /* background-image: linear-gradient(rgba(376, 255, 300, -6.5), rgba(255, 255, 255, 0.5)), url(./img/download_11zon.copy.png);    */
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    top: 0px;
    position: relative;
}
@media (width < 600px) {
    .banner{
        height: 60dvh;
    }
}
.bannertext :last-child{
 color:#F8B20F;
}
/* banner */

/* sectionone */
.sectionone{
    padding: 40px !important;
    justify-content: space-between;
}
.sectionone img{
    height: 300px;
    width: 60dvw;

}
.sectionone .ready :first-child ,.sectionone .ready :last-child{
    position: relative;
    z-index: 2;
    color: white;
    width: fit-content;
    font-size: 18px;
    font-weight: 600;
}
.sectionone .ready :first-child::before{
    z-index: -1;
    content: "";
    position: absolute;
    width: 119%;
    height: 143%;
    background-color: #dbbf8d;
    transform: rotate(-3deg);
    left: -8%;
    top: -15%;
}
.sectionone .ready :last-child::before{
    z-index: -1;
    content: "";
    position: absolute;
    width: 115%;
    height: 139%;
    background-color: #dbbf8d;
    transform: rotate(-2deg);
    left: -6%;
    top: -15%;
}

.sectionone .price :last-child{
    border: 2px solid #F8B20F ;
    border-radius: 20px;
    width: fit-content; 
}
.sectionone-video {
    /* width: 0px; */
}
 .sectionone-video  video{
    min-width: 80%;
    /* height: 80%; */
 }
@media  (width <  768px) {
    .sectionone img{
        width: 100dvw;
    }

}

@media (width < 600px) {
    .banner-carousel  .carousel-item :first-child{
        display: none;
    }
    .banner-carousel img{
        height: 25dvh !important;
        width: 100dvw !important;
    }
    /* .banner-carousel .carousel-caption{
        display: none !important;
    } */
    
}
/* sectionone */

.sectiontwo{
    background-color: #f4f3f2;
    z-index: -1;
    color: #374254;
    padding: 100px !important;
}
.experience{
    border: 7px solid #F8B20F;
    position: relative;
    z-index: 1;
    width: 200px;
}
.experience > div::before{
    content: "";
    position: absolute;
    background-color: #f4f3f2;
    border-radius:50% ;
    width: 180px;
    height: 180px;
    z-index: -2;
}
.experienceyears{
    font-size: 52px;
    font-weight: 700;
    color: #F8B20F;
}
.orangcolor{
    color: #F8B20F;
}

.banner-carousel{
    position: relative;
}
.banner-carousel img{
    height: 45dvh;
    width: 50dvw;
}

/* .banner-carousel .carousel-caption{
    background-color: #b1a083;
    background-image: linear-gradient(to right, #dbbf8d, #d0b78b, #c6af88, #bba886, #b1a083);
    height: 46dvh;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
} */
.banner-carousel .carousel-caption {
    height: 100%;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #43310475;
}
.carousel-indicators [data-bs-target]{
    display: none;
}

/* section-three */

.section-three>span{
position: relative;
    z-index: 2;
    color: white;
    width: fit-content;
    font-size: 18px;
    font-weight: 600;
}
.section-three>span::before{
    z-index: -1;
    content: "";
    position: absolute;
    width: 111%;
    height: 139%;
    background-color: #dbbf8d;
    transform: rotate(-2deg);
    left: -6%;
    top: -15%;
}
.section-three-card span{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: #dbbf8d;
    padding: 10px;
    color: white;
}
.section-three.row{
    --bs-gutter-x: 0rem;
}


/* section-three */
