
:root{
    --main-color:#dbbf8d
}
.nav{
    background-color: var(--main-color);
    z-index: 99999;
    position: fixed;
    width: 100%;
    height: 52px;
}
.nav-bar-icon{
    display: none;
}



.nav ul li {
margin-left:4rem ;
    color: white;
}
.nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}
.logo img{
    width: 40px;
    border: 2px solid #F8B20F;
    padding: 1px
}
.nav .gallerylink{
    color:  white ;
    background-color: #F8B20F;
    border-radius: 20px;
    
}
.nav-bar-icon{
    display: none;
    font-size: 30px;
}

/* start dropdown */
.nav-dropdown{
    background-color: transparent;
    color: black;
    border: none;
    padding: 0;
    vertical-align: inherit;
}
.nav-dropdown:hover{
    background-color: transparent;
    color: black;
}
.nav-dropdown:checked+.nav-dropdown, .nav-dropdown.active, .nav-dropdown.show, .nav-dropdown:first-child:active, :not(.btn-check)+.nav-dropdown:active{
    background-color: transparent !important; 
    color: black;
}
/* end dropdown */

/* responsive */
@media (width < 600px) {
    .nav {
        height: 48px;
    }
    .logo{
        position: absolute;
    right: 15px;
    }
    .nav ul {
        display: flex !important;
        flex-direction: column;
        height: 100dvh;
        width: 45dvw;
        position: absolute;
        left: -500px;
        top: 48px;
        background-color: #dbbf8d;
        border-top: solid 1px #fff8ec;
        box-shadow: 1px 20px 20px 0px #736448;
        transition: all .3s ease-in-out;
}
       /*  */
    ul.active{
        left: 0px;
        transition:all .3s ease-in-out;
        
    }
    ul.active li{
        margin-top: 60px;
        margin-left: 20px !important;
    }
    .nav-bar-icon{
        display: flex !important;
        height: fit-content;
        position: fixed;
        left: 15px;
    }
    .nav-bar-icon .open-bar{
        width: 30px;
        height: 20px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: start;
    } 
    .nav-bar-icon .open-bar :first-child{
        width: 100%;
        height: 4px;
        background-color: white;
        border-radius: 5px;
    }
    .nav-bar-icon .open-bar :nth-child(2){
        width: 90%;
        height: 4px;
        background-color: white;
        border-radius: 5px;
    }
    .nav-bar-icon .open-bar :last-child{
        width: 70%;
        height:4px;
        background-color: white;
        border-radius: 5px;
    }
    .open-bar.active span:first-child{
        position: absolute;
        width: 80%;
        height: 4px;
        background-color: white;
        top: 10px;
        border-radius: 15px;
        transform: rotate(45deg);
        
    }
    .open-bar.active span:nth-child(2){
        display: none;
    }
    .open-bar.active span:last-child{
        position: absolute;
        width: 80%;
        height: 4px;
        background-color: white;
        bottom: 6px;
        border-radius: 15px;
        transform: rotate(-45deg);
    }
    .nav-bar-icon:has(.active){
        left: 35dvw;
        transition:  all .3s  ease-in-out;
    }
 
}
/* responsive */